*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}
body{
    background-color: #e2e7e6;
}
.navbar{
    height:80px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.nav-logo{
    height:40px;
    width:130px;
}
.logo{
    background-image: url("amazonlogofinal.png");
    background-size: cover;
    height:40px;
    width:120px;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.add-first{
    color:#cccccc;
    font-size:1rem;
    margin-left: 15px;
}
.add-second{
    margin-left: 3px;
    font-size:2rem;
}
.add-icon{
    display:flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color:pink;
    width:620px;
    height:40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    border:none;
}
.search{
    width:100%;
    font-size:1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px ;
    background-color: #0f1111;
    background-color: #febd68;
}
.nav-search:hover{
    border:2px solid orange;
}
.nav-language{
    width:15px;
}

.lang-select{
    display:flex;
    align-items: center;
    background-color: #131921;
    border:0;
    outline:none;
    color: #fff;
    width :47px;
    text-align: center;
    font-weight:660;
    font-size:1vw;
}
/* .lang-select:hover{
    border:2px solid white;
}  */

.lang-select img{
    width:20px;
}
/* box4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size:0.85rem ;
    font-weight: 700;
}
/* box6*/
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */
.panel{
    height:60px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 50px;
}
.panel-ops{
    width:70%;
    font-size:0.85rem;
}
.panel-deals{
    font-size:0.9rem;
    font-weight:700;
}
/* hero section */
.hero-section{
    background-image: url("amazonheader.png");
    background-size: cover;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    /* mask-image:linear-gradient(to bottom ,#000000 50% , transparent); */
}
.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content:center ;
    font-size: 0.85rem;
    width:80%;
    margin-bottom:25px ;
}
.hero-msg a{
    color:#007185;
}
/* shop section */
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border:2px solid black; */
    height:450px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}
.box-image{
    
    /* background-repeat: no-repeat; */
    background-size: cover; /* or contain */
    background-position: center;
    background-repeat: no-repeat;
    width: 248.58; /* or specify width */
    height: 400px; 
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color:#007185;
}
.big-img{
    margin-top:50px;
    background-color: white;
    width:96%;
    margin:20px auto;
    padding:15px;
}
.big-img img{
    width:100%;
    height:270px;
}
.signin-section{
    width:100%;
    background: #fff;
    /* margin:20px 0; */
    padding:30px 0;
}

.signin-section .content{
    margin-left:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border:1px solid rgb(219, 214, 214);
    border-radius:5px;
   padding:30px 0;
}

.signin-section .content p{
    font-size:1vw;
    margin-top:5px;
    margin-bottom:5px;
}

.signin-section .content a{
    font-size:1vw;
    text-decoration: none;
    color: rgb(60,183,231);
}


.signin-section .content button{
    font-size:1vw;
    font-weight:600;
    padding:12px 40px;
    background: rgb(235,165,35);
    border:0;
    outline:none;
    border-radius: 4px;
    width: 300px;
}
/* footer{
    margin-top: 15px; 
} */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:500px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 50px;
}
ul p{
    font-size:22px;
}
ul a{
    display:block;
    font-size:18px;
    margin-top:10px;
    color:#dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid white;
    height:120px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.logo{
    background-image: url("amazonlogofinal.png");
    background-size: cover;
    height:40px;
    width:120px;

}
.foot-panel4{
    background-color: #0f1111;
    color:white;
    height: 100px;
    font-size:0.7rem;
    text-align:center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top:5px;
}